<html>
	<body>
		<div>
			The groups
			<br>
			<ul>
				#foreach($groupName in $groupNames)
					<li> $groupName </li>
				#end
				
			</ul>
			Mentioned In Page $pageTitle
		</div>
	</body>
</html>